body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.d-flex {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #343a40;
    color: white;
    /* border-right: 1px solid #ddd; */
    overflow: auto;
}

.sidebar .nav-item {
    margin-bottom: 10px;
}

.sidebar .nav-link {
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #0c4a89;
}

.container {
    margin-left: 270px;
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}
